/* Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('montserratalternates-regular-webfont.woff2') format('woff2'),
         url('montserratalternates-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Montserrat';
    src: url('montserratalternates-medium-webfont.woff2') format('woff2'),
         url('montserratalternates-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}